@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap");

/* font-family: 'Nova Square', sans-serif;

font-family: 'Open Sans', sans-serif;

font-family: 'Poppins', sans-serif; */

/* CSS style to change the default things */
nav ::selection {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  color: white;
  font-family: "Open Sans", sans-serif;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/* CSS style to all the anchor tag <a> and the list tag <ul>*/
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* CSS style to the Navigation portion */
.nav-bar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  box-shadow: 0px 1px 10px 5px #30303067;
  z-index: 3;
}
nav {
  /* background-color: yellow; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: 10px 0;
}
.logo {
  /* background-color: green; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 40%;
  padding: 5px;
  /* z-index: 2; */
}
.logo span a {
  /* background-color: yellow; */
  text-align: center;
  padding: 5px;
  color: #ef54f5;
  font-size: 30px;
  font-weight: 600;
  font-variant: small-caps;
}
.logo .menu-icon {
  /* background-color: blue; */
  position: relative;
  display: none;
  height: 100%;
  width: fit-content;
  padding: 5px;
}
.nav-tabs {
  /* background-color: aqua; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  padding: 5px;
  margin: 0 20px;
}
.nav-tabs ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
ul li {
  /* background-color: red; */
  padding: 5px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
ul li a {
  color: #414141ab;
}
ul li a:hover {
  color: #da4adf;
}
ul li a.active-tab {
  color: #da4adf;
}

/* CSS style to the section  */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  transform: transition all 20s;
}
/* section:nth-child(odd) {
  background-color: pink;
}
section:nth-child(even) {
  background-color: tomato;
} */

/* CSS style to the Header page */
main #header {
  /* background-color: green; */
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
#header .whole-content {
  /* background-color: red; */
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.whole-content .bg-img {
  position: relative;
  background-image: url("images/bg-mountain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.whole-content .text-content {
  /* background-color: red; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
}
.text-content .text {
  /* background-color: #22222217; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fade 0.5s ease-in;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.text span {
  padding: 10px;
  font-size: xx-large;
  font-variant: small-caps;
  font-weight: 500;
  color: white;
}
span .symbol {
  font-size: 40px;
  font-family: 700;
  color: #ef54f5;
}
span strong {
  font-weight: 700;
  font-size: 30px;
  color: #ef54f5;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.text p {
  /* background-color: violet; */
  color: rgba(245, 245, 245, 0.747);
  margin-top: 30px;
  padding: 10px;
  font-size: large;
  font-weight: 200;
  font-variant: normal;
}
.text-content .link {
  margin-top: 50px;
  animation: fade 2s ease-in;
}
.link .resume {
  background-color: #da4adf;
  padding: 10px;
  border-radius: 5px;
}
.resume {
  color: white;
  font-size: large;
  font-weight: 600;
  font-variant: normal;
}

/* CSS style for width 940px */
@media (max-width: 940px) {
  .nav-bar {
    padding: 0;
    box-shadow: none;
    background: none;
  }
  nav {
    margin-top: 0;
  }
  .logo {
    background-color: white;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    padding-inline: 20px;
    box-shadow: 0px 1px 10px 5px #30303067;
    z-index: 1;
  }
  .logo .menu-icon {
    display: block;
  }
  .logo #menu-button {
    display: block;
    color: #ef54f5;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  .nav-tabs {
    /* background-color: yellow; */
    width: 0;
    margin: 0;
    padding: 0;
  }
  .nav-tabs ul {
    background-color: rgba(255, 255, 255, 0.836);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 45px;
    z-index: 0;
  }
  ul li {
    /* background-color: red; */
    margin-bottom: 10px;
  }
}
