@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Open+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap");

::selection,
nav::selection {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* theme color for light and dark mode */
:root {
  --section-bg-color-odd: whitesmoke;
  --section-bg-color-even: white;
  --default-text-color: white; /*body*/
  --default-bg-color: white; /*body*/
  --theme-hover: #27ae60; /*for theme button*/
  --hover: #da4adf; /*nav hover and active*/
  --nav-boxshadow-color: #30303067; /*nav box shadow*/
  --nav-bg-color: white; /*background color for nav*/
  --border-color: black; /*education line and about right side line*/
  --text-color: #ef54f5; /*theme text color*/
  --hover-color: #fa77ff; /*about link and contact link*/
  --progress-line: #f658fc; /*experience progress line*/
  --protfolio-bg-color: rgba(0, 0, 0, 0.308); /*portfolio i bg color*/
  --hover-bg-profile: #e753ecdc; /*profile section box*/
  --profile-bg-color: rgba(46, 46, 46, 0.342); /*profile section box*/
  --hover-button: #da4adf; /*form button*/
  --copyright-text: #5c5959d2; /*copyright sing*/
  --light-color1: #222;
  --light-color2: #3a3a3a;
  --light-color3: #3a3a3aa1;
  --light-color4: #0f0f0fb7;
  --light-color5: rgba(245, 245, 245, 0.747);
}
.dark-mode {
  --section-bg-color-odd: #141414;
  --section-bg-color-even: #1a1a1a;
  --default-text-color: #222; /*body*/
  --default-bg-color: #222; /*body*/
  --theme-hover: #ef54f5; /*for theme button*/
  --hover: #32cc72; /*nav hover and active*/
  --nav-boxshadow-color: #7979794d; /*nav box shadow*/
  --nav-bg-color: #272727; /* background color for nav*/
  --border-color: white; /*education line and about right side line*/
  --text-color: #27ae60; /*theme text color*/
  --hover-color: #37b86c; /*about link and contact link*/
  --progress-line: #16be5c; /*experience progress line*/
  --protfolio-bg-color: rgba(0, 0, 0, 0.308); /*portfolio i bg color*/
  --hover-bg-profile: #3bca77; /*profile section box*/
  --profile-bg-color: rgba(148, 148, 148, 0.342); /*profile section box*/
  --hover-button: #0d9b48; /*form button*/
  --copyright-text: #ecececd2; /*copyright sing*/
  --light-color1: #ececec;
  --light-color2: #dadada;
  --light-color3: #f0f0f0ce;
  --light-color4: #ffffffb7;
  --light-color5: rgba(255, 255, 255, 0.747);
}
body {
  background-color: var(--default-bg-color);
  color: var(--default-text-color);
  font-family: "Open Sans", sans-serif;
  cursor: default;
}
/* CSS style to all the anchor tag <a> and the list tag <ul>*/
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* CSS style to additional container,  themes button and scroll top button */

.theme-btn {
  background-color: var(--text-color);
  position: fixed;
  right: 20px;
  bottom: 80px;
  display: flex;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  margin: 5px;
  z-index: 10;
}
.scroll-button {
  background-color: var(--text-color);
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  border: 2px solid var(--text-color);
  margin: 5px;
  z-index: 10;
}
.theme-btn i,
.scroll-button i {
  font-size: larger;
  font-weight: 700;
}
.theme-btn:hover {
  background-color: transparent;
  color: var(--theme-hover);
  border: 2px solid var(--theme-hover);
  cursor: pointer;
}
.scroll-button:hover {
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  cursor: pointer;
}

/* CSS style to the Navigation portion */
.nav-bar {
  background-color: var(--nav-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  box-shadow: 0px 1px 10px 5px var(--nav-boxshadow-color);
  z-index: 3;
  transition: all 2s ease-in-out;
}
nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: 10px 0;
}
.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 40%;
  padding: 5px;
}
.logo #home {
  position: relative;
  height: fit-content;
  width: 100%;
}
.logo span a {
  position: relative;
  text-align: center;
  color: var(--text-color);
  font-size: 30px;
  font-weight: 600;
  font-variant: small-caps;
  width: 100%;
}
.nav-tabs .menu-icon {
  position: relative;
  display: none;
  height: 100%;
  width: fit-content;
  padding: 5px;
}
.nav-tabs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  padding: 5px;
  margin: 0 20px;
}
.nav-tabs ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
ul li {
  padding: 5px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
ul li a {
  color: var(--light-color3);
}
ul li a:hover {
  color: var(--hover);
}
ul li a.active-tab {
  color: var(--hover);
}

/* CSS style to the section  */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light-color1);
  width: 100%;
  border-bottom: 1px solid var(--light-color3);
  transition: all 2s ease-in-out;
}
section:nth-child(odd) {
  background-color: var(--section-bg-color-odd);
}
section:nth-child(even) {
  background-color: var(--section-bg-color-even);
}

/* CSS style to the Header page */
main #header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
#header .header-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.header-content .bg-img {
  position: relative;
  background-image: url("images/bg-mountain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.header-content .text-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
}
.text-content .text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text span {
  padding: 10px;
  font-size: xx-large;
  font-variant: small-caps;
  font-weight: 500;
  color: white;
}
span strong {
  font-weight: 700;
  font-size: 30px;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.text p {
  color: var(--light-color5);
  margin-top: 30px;
  padding: 10px;
  font-size: large;
  font-weight: 200;
  font-variant: normal;
  margin-bottom: 10px;
}
.text-content .link {
  margin-top: 50px;
}

.link .resume {
  background-color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
}
.resume {
  color: white;
  font-size: large;
  font-weight: 600;
  font-variant: normal;
}
/* CSS style to the all section heading / topic of the section */
.heading {
  position: relative;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 20px;
  height: 20%;
  width: 100%;
}
.heading span {
  font-size: xx-large;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.heading hr {
  margin: 0 5px;
}
/* CSS style to the education page */
main #education {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
section .education-content {
  position: relative;
  height: 80%;
  width: 100%;
  margin-inline: 20px;
}
.details {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(auto, 350px));
  place-content: center;
  margin: 20px;
  overflow: hidden;
}
.education-detail {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border-radius: 5px;
}
.education-detail span {
  display: flex;
  align-items: start;
  padding: 5px;
}
.education-detail .first-content {
  position: relative;
  height: 30%;
  width: 100%;
}
.education-detail .first-content .year {
  font-size: large;
  font-weight: 700;
  font-variant: normal;
  letter-spacing: 2px;
}
.education-detail .first-content .course {
  color: var(--light-color1);
  font-size: medium;
  font-weight: 200;
  letter-spacing: 2px;
}
.education-detail .line {
  display: flex;
  width: 100%;
}
.education-detail .line i {
  display: inline-block;
  color: var(--text-color);
  font-size: 8px;
  margin-right: 5px;
}
.education-detail .line .H-line {
  position: relative;
  width: 100%;
}
.education-detail .H-line .Mline {
  position: absolute;
  background-color: var(--border-color);
  top: 50%;
  height: 1px;
  width: 100%;
}
.education-detail .second-content {
  height: 50%;
  width: 100%;
  margin-bottom: 5px;
}
.second-content span {
  display: flex;
  align-items: start;
  padding: 5;
  margin: 0;
}
.second-content .inst-name {
  font-size: 18px;
  font-weight: 500;
  font-variant: normal;
  letter-spacing: 2px;
}
.second-content .inst-place {
  color: var(--light-color1);
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
}
.second-content .score {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}
/* CSS style to the skills page */
main #skills {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
section .skills-content {
  position: relative;
  height: 80%;
  width: 100%;
  padding: 20px;
  margin-inline: 20px;
}
.skills-content .skills {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(auto, 160px));
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.skills .skill-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skill-block .skill-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.skill-block .skill-img img {
  width: 150px;
}
.skill-block .skill-title {
  width: 100%;
  text-align: center;
  color: var(--light-color2);
  font-size: small;
  font-weight: 500;
  text-transform: uppercase;
}

/* CSS style to experience page */
main #experience {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
#experience .experience-content {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.experience-content .experience-block {
  display: grid;
  grid-template-columns: 1fr 15px 1fr;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: fit-content;
  grid-template-areas: " f l s";
}
.experience-content .experience-block:nth-child(even) {
  grid-template-areas: " s l f";
}
.experience-block:nth-child(even) .first-container {
  text-align: left;
}
.experience-block:nth-child(even) .second-container {
  text-align: right;
}
.first-container {
  grid-area: f;
  display: flex;
  text-align: right;
  flex-direction: column;
  height: 100%;
}
.first-container span {
  margin: 5px;
}
.experience-block .year {
  font-size: large;
  font-weight: 700;
  font-variant: normal;
  letter-spacing: 2px;
}
.experience-block .program {
  color: var(--light-color1);
  font-size: medium;
  font-weight: 200;
  letter-spacing: 2px;
}
.experience-block .line {
  grid-area: l;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.experience-block .line i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 10px;
  width: 100%;
  margin: 2px 0px;
}
.experience-block .line .H-line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.experience-block .H-line .Mline {
  content: "";
  height: 100%;
  width: 4px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
}
.second-container {
  grid-area: s;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.second-container span {
  margin: 5px;
}
.experience-block .company {
  font-size: 18px;
  font-weight: 500;
  font-variant: normal;
  letter-spacing: 2px;
}
.experience-block .company-place {
  color: var(--light-color1);
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
}
.experience-block .company-desc {
  color: var(--light-color1);
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: justify;
  text-justify: inter-word;
}
/* CSS style to profile page */
main #profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
#profile .profile-content {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.profile-content .profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  align-items: center;
  justify-content: space-evenly;
  margin-inline: 40px;
}
.profile .profile-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light-color1);
  height: 150px;
  margin: 5px;
  border-radius: 5px;
  border: 0.5px solid var(--border-color);
}
.profile-block i {
  font-size: xx-large;
  margin-bottom: 5px;
}
.profile-block span {
  font-size: larger;
  font-weight: 600;
}
/* CSS style to portfolio page */
main #portfolio {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#portfolio .portfolio {
  height: 100%;
  width: 100%;
  margin: 10px;
  padding: 10px;
}
.portfolio .portfolio-content {
  margin-inline: 20px;
}
.portfolio-content .portfolio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}
.portfolio-container .portfolio-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--light-color3) 0px .1px 3px .1px;
  margin-block: 10px;
  transition: filter .5s ease-in-out;
}
.portfolio-container:hover > .portfolio-block:not(:hover){
  filter: blur(1.3px);
}
.portfolio-first{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
  padding: 5px;
}
.portfolio-first .image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}
.image-section img {
  position: relative;
  width: 350px;
  height: auto;
  transition: all 0.5s;
  overflow: hidden;
  border-radius: 5px;
}
.portfolio-second{
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  height: 100%;
  width: 60%;
  padding: 5px;
}
.portfolio-title{
  width: 100%;
  height: 60%;
  margin-bottom: 18px;
}
.portfolio-others{
  width: 100%;
  height: 70%;
}
.portfolio-second .project{
  width: 100%;
  margin-block: 2px;
}
.project-title{
  font-size: x-large;
  font-weight: 600;
  color: var(--light-color1);
}
.project-subtitle{
  color: var(--light-color3);
  text-indent: 30px;
  font-size: medium;
  font-weight: 400;
}
.project-description{
  color: var(--light-color3);
  font-size: medium;
  line-height: 1.5;
  font-weight: 100;
  text-align: justify;
}
.project-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}
.project-live, .project-source{
  font-size: medium;
  font-weight: 500;
  margin-inline: 2px;
  color: var(--light-color2);
}
.project-bottom a{
  font-weight: 300;
  color: var(--light-color3);
}
.project-bottom a:hover{
  color: var(--light-color1);
  text-decoration: underline;
  text-decoration-color: var(--light-color4);
}
/* CSS style to experience page */
main #about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#about .about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.about .about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.about-container .description {
  margin: 5px 0;
  padding: 10px;
  max-width: 500px;
  height: 100%;
}
.description .description-content {
  height: fit-content;
  padding: 5px;
  width: 100%;
}
.description .description-content #first,
.description-content #second {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  padding-bottom: 20px;
}
.description .description-content #first span {
  font-size: large;
  font-weight: 500;
  color: var(--light-color1);
}
.description-content #second span {
  font-size: medium;
  font-weight: 500;
  color: var(--light-color3);
}
.about-container .aboutinfo {
  border-top: 2px solid var(--light-color3);
  padding: 20px 0;
}
.aboutinfo .aboutinfo-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.aboutinfo-content .info {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.info .info-title {
  font-size: medium;
  font-weight: 500;
  color: var(--light-color4);
}
.info .info-content {
  font-size: medium;
  font-weight: 500;
  color: var(--light-color3);
}
.aboutinfo-content span {
  padding: 2px;
}
.about-container .profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 100%;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 20px;
}
.profile-card .profile-bg-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.profile-bg-image img {
  position: relative;
  height: auto;
  max-width: 350px;
  opacity: 0.9;
  scale: 1;
  transition: all 0.5s;
}
.profile-bg-image:hover img {
  scale: 1.3;
  transform: translate(20px, 20px);
}
.profile-bg-image .links {
  background-color: var(--profile-bg-color);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15%;
  width: 100%;
}
.links a {
  background-color: rgba(0, 0, 0, 0.062);
  text-align: center;
  border-radius: 5px;
  border: 2px groove white;
  color: white;
  padding: 10px;
}
.links a i {
  font-size: larger;
}
.links a:hover {
  color: var(--hover-color);
  border-color: var(--hover-color);
}
/* CSS style to contact section */
main #contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#contact .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.contact .contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.contact-container .contact-form {
  position: relative;
  max-width: 500px;
  height: 100%;
  padding: 5px;
}
/* style to the form left side */
.contact-form .c-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 5px;
}
* input,
textarea {
  font-size: small;
  font-weight: 600;
  outline: none;
  color: #222;
}
.contact-form .main-user-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0;
}
.user-input-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.user-input-box input {
  padding: 8px;
  width: 100%;
}
.others-input {
  padding: 10px 25px;
  margin: 8px;
  text-align: center;
  width: 100%;
}
.others-input input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.others-input textarea {
  font-size: large;
  font-weight: 500;
  width: 100%;
  padding: 5px;
  resize: none;
}
.form-button {
  text-align: center;
  width: 100%;
  padding: 10px 25px;
}
.form-button input {
  background-color: var(--text-color);
  border-radius: 5px;
  font-size: large;
  color: white;
  width: 100%;
  padding: 10px;
}
.form-button input:hover {
  cursor: pointer;
  background-color: var(--hover-button);
}
/* style to the contact details right side */
.contact-details {
  position: relative;
  width: 500px;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-inline: 5px;
}
.contact-details .c-detail {
  display: flex;
  flex-direction: column;
}
.contact-details span {
  margin: 2px;
  padding: 5px;
}
.c-detail:nth-child(1) span:nth-child(1) {
  font-size: xx-large;
  font-weight: 600;
}
.c-detail:nth-child(1) span:nth-child(2) {
  font-size: larger;
  font-weight: 200;
  color: var(--light-color1);
}
.c-info {
  font-size: medium;
  font-weight: 200;
}
.c-info.title {
  color: var(--light-color2);
}
.c-info.desc {
  color: var(--light-color3);
}
.detail {
  padding: 5px;
  margin-inline: 5px;
}
.detail .detail-links {
  padding: 10px 0;
}
.detail .detail-links a {
  padding: 10px;
  margin-right: 10px;
  font-size: larger;
  color: var(--light-color1);
}
.detail .detail-links a:hover {
  color: var(--hover-color);
}
.copyright {
  text-align: center;
  color: var(--copyright-text);
  margin-top: 3%;
  width: 100%;
}
/* CSS style to the .active-page and .active-tab */
/* Animation for scroll top buton */
.scroll-button.active {
  display: flex;
  opacity: 1;
  animation: appear 1s linear;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.scroll-button.active i {
  display: flex;
  animation: scrollTop 02s linear infinite;
}
@keyframes scrollTop {
  0%,
  100% {
    transform: translateY(0);
  }

  50%,
  75% {
    transform: translateY(-10px);
  }
}
/* Animation for header text */
#header.active-page .text-content .text {
  animation: fade 2s ease-in;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animation for header downlode link */
#header.active-page .link {
  animation: fadeLink 2s ease-in;
}
@keyframes fadeLink {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animation for experience section timeline */
#experience.active-page .H-line .Mline {
  animation: progress_height 2s linear forwards;
  background-color: var(--progress-line);
}
@keyframes progress_height {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
/* Animation for profile scetion while hover */
.profile-content .profile-block:hover {
  animation: profile 1s forwards;
  background-color: var(--hover-bg-profile);
  color: var(--default-text-color);
  cursor: pointer;
}
@keyframes profile {
  0% {
    scale: 1.1;
    opacity: 0;
    transform: rotateY(180deg);
  }
  100% {
    scale: 1;
    opacity: 1;
    transform: rotateY(360deg);
  }
}
/* CSS style for width 940px */
@media (max-width: 940px) {
  .nav-bar {
    padding: 0;
  }
  .logo {
    width: 70%;
  }
  .nav-tabs .menu-icon {
    display: block;
    padding: 0;
  }
  .nav-tabs #menu-button {
    display: block;
    color: var(--text-color);
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  .nav-tabs {
    width: 20%;
    margin: 0;
    padding: 0;
  }
  .nav-tabs ul {
    background-color: var(--nav-bg-color);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 45px;
    z-index: 0;
  }
  ul li {
    margin-bottom: 10px;
  }
  .experience-content .experience-block {
    grid-template-columns: 15px 1fr;
    grid-template-areas:
      "l f"
      "l s";
    gap: 0px;
  }
  .experience-content .experience-block .first-container {
    text-align: left;
  }
  .experience-content .experience-block:nth-child(even) {
    grid-template-columns: 15px 1fr;
    grid-template-areas:
      "l f"
      "l s";
    gap: 0px;
  }
  .experience-block:nth-child(even) .first-container {
    text-align: left;
  }
  .experience-block:nth-child(even) .second-container {
    text-align: left;
  }
  .aboutinfo-content .info {
    width: 100%;
  }
  .profile-bg-image img {
    max-width: 300px;
  }
  .portfolio-container .portfolio-block {
    flex-direction: column;
  }
  .portfolio-first, .portfolio-second{
    width: 100%;
  }
  /* Style for form in contact section */
  .user-input-box {
    padding: 10px;
    margin-inline: 25px;
    width: 100%;
  }
  .user-input-box input {
    width: 100%;
  }
}
