@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap");

/* font-family: 'Nova Square', sans-serif;

font-family: 'Open Sans', sans-serif;

font-family: 'Poppins', sans-serif; */

/* CSS style to change the default things */
::selection,
nav::selection {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
}
body {
  background-color: white;
  color: white;
  font-family: "Open Sans", sans-serif;
}
/* CSS style to all the anchor tag <a> and the list tag <ul>*/
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* CSS style to the Navigation portion */
.nav-bar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  box-shadow: 0px 1px 10px 5px #30303067;
  z-index: 3;
}
nav {
  /* background-color: yellow; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: 10px 0;
}
.logo {
  /* background-color: green; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 40%;
  padding: 5px;
  /* z-index: 2; */
}
.logo span a {
  /* background-color: yellow; */
  text-align: center;
  padding: 5px;
  color: #ef54f5;
  font-size: 30px;
  font-weight: 600;
  font-variant: small-caps;
}
.logo .menu-icon {
  /* background-color: blue; */
  position: relative;
  display: none;
  height: 100%;
  width: fit-content;
  padding: 5px;
}
.nav-tabs {
  /* background-color: aqua; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  padding: 5px;
  margin: 0 20px;
}
.nav-tabs ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
ul li {
  /* background-color: red; */
  padding: 5px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
ul li a {
  color: #414141ab;
}
ul li a:hover {
  color: #da4adf;
}
ul li a.active-tab {
  color: #da4adf;
}

/* CSS style to the section  */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 100%;
  border-bottom: 1px solid #838383;
}
/* section:nth-child(odd) {
  background-color: pink;
}
section:nth-child(even) {
  background-color: tomato;
} */

/* CSS style to the Header page */
main #header {
  /* background-color: green; */
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
#header .header-content {
  /* background-color: red; */
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.header-content .bg-img {
  position: relative;
  background-image: url("images/bg-mountain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.header-content .text-content {
  /* background-color: red; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
}
.text-content .text {
  /* background-color: #22222217; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text span {
  padding: 10px;
  font-size: xx-large;
  font-variant: small-caps;
  font-weight: 500;
  color: white;
}
span .symbol {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-family: 700;
  color: #ef54f5;
}
span strong {
  font-weight: 700;
  font-size: 30px;
  color: #ef54f5;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.text p {
  /* background-color: violet; */
  color: rgba(245, 245, 245, 0.747);
  margin-top: 30px;
  padding: 10px;
  font-size: large;
  font-weight: 200;
  font-variant: normal;
  margin-bottom: 10px;
}
.text-content .link {
  margin-top: 50px;
}

.link .resume {
  background-color: #da4adf;
  padding: 10px;
  border-radius: 5px;
}
.resume {
  color: white;
  font-size: large;
  font-weight: 600;
  font-variant: normal;
}
/* CSS style to the all section heading / topic of the section */
.heading {
  /* background-color: red; */
  position: relative;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 20px;
  height: 20%;
  width: 100%;
}
.heading span {
  /* background-color: yellow; */
  font-size: xx-large;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.heading hr {
  margin: 0 5px;
}
/* CSS style to the education page */
main #education {
  position: relative;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
section .education-content {
  /* background-color: green; */
  position: relative;
  height: 80%;
  width: 100%;
  margin-inline: 20px;
}
.details {
  /* background-color: blue; */
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(auto, 350px));
  place-content: center;
  margin: 20px;
  overflow: hidden;
}
.education-detail {
  /* background-color: pink; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border-radius: 5px;
}
.education-detail span {
  /* background-color: violet; */
  display: flex;
  align-items: start;
  padding: 5px;
}
.education-detail .first-content {
  /* background-color: red; */
  position: relative;
  height: 30%;
  width: 100%;
}

.education-detail .first-content .year {
  /* background-color: red; */
  font-size: large;
  font-weight: 700;
  font-variant: normal;
  letter-spacing: 2px;
}
.education-detail .first-content .course {
  /* background-color: orange; */
  color: #222;
  font-size: medium;
  font-weight: 200;
  letter-spacing: 2px;
}

.education-detail .line {
  /* background-color: white; */
  display: flex;
  width: 100%;
}
.education-detail .line i {
  display: inline-block;
  color: #ef54f5;
  font-size: 8px;
  margin-right: 5px;
}
.education-detail .line .H-line {
  /* background-color: violet; */
  position: relative;
  width: 100%;
}
.education-detail .H-line .Mline {
  position: absolute;
  background-color: black;
  top: 50%;
  height: 1px;
  width: 100%;
}

.education-detail .second-content {
  /* background-color: tomato; */
  height: 50%;
  width: 100%;
  margin-bottom: 5px;
}
.second-content span {
  /* background-color: green; */
  display: flex;
  align-items: start;
  padding: 5;
  margin: 0;
}
.second-content .inst-name {
  /* background-color: red; */
  font-size: 18px;
  font-weight: 500;
  font-variant: normal;
  letter-spacing: 2px;
}
.second-content .inst-place {
  color: #222;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
}
.second-content .score {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}
/* CSS style to the skills page */
main #skills {
  position: relative;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
section .skills-content {
  /* background-color: green; */
  position: relative;
  height: 80%;
  width: 100%;
  padding: 20px;
  margin-inline: 20px;
}
.skills-content .skills {
  /* background-color: red; */
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(auto, 500px));
  place-content: center;
  overflow-x: hidden;
}
.skills .skill-block {
  /* background-color: pink; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  border-radius: 5px;
  margin-bottom: 5px;
}
.skill-block .skill-title {
  /* background-color: red; */
  width: 100%;
  text-align: left;
  color: #3a3a3a;
  font-size: x-large;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 20px;
}
.skill-block .skill-progress {
  /* background-color: yellow; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
}
.skill-progress .skill-progress-bar {
  display: inline-block;
  background-color: #e6ecf3;
  height: 10px;
  width: 80%;
  border-radius: 10px;
}
.skill-progress-bar .progress-bar {
  position: relative;
  background-color: #b636ff;
  height: 10px;
  border-radius: 10px;
}
.skill-progress .skill-progress-value {
  /* background-color: red; */
  font-size: large;
  font-weight: 700;
  text-align: center;
  width: 10%;
}
/* CSS style to experience page */
main #experience {
  background-color: whitesmoke;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#experience .experience-content {
  /* background-color: black; */
  position: relative;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.experience-content .experience-block {
  /* background-color: violet; */
  display: grid;
  grid-template-columns: 1fr 15px 1fr;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  margin-inline: 20px;
}
.first-container {
  /* background-color: blue; */
  display: flex;
  text-align: right;
  flex-direction: column;
  height: 100%;
}
.first-container span {
  margin: 5px;
}
.first-container .year {
  font-size: large;
  font-weight: 700;
  font-variant: normal;
  letter-spacing: 2px;
}
.first-container .program {
  color: #222;
  font-size: medium;
  font-weight: 200;
  letter-spacing: 2px;
}
.experience-block .line {
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.experience-block .line i {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ef54f5;
  font-size: 10px;
  width: 100%;
  margin: 2px 0px;
}
.experience-block .line .H-line {
  /* background-color: blue; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.experience-block .H-line .Mline {
  content: "";
  height: 0;
  width: 4px;
  background-color: transparent;
  position: absolute;
  top: 0;
  border-radius: 5px;
}
.second-container {
  /* background-color: green; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  height: 100%;
}
.second-container span {
  /* background-color: red; */
  margin: 5px;
}
.second-container .company {
  font-size: 18px;
  font-weight: 500;
  font-variant: normal;
  letter-spacing: 2px;
}
.second-container .company-place {
  color: #222;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
}
.second-container .company-desc {
  color: #222;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
}
/* CSS style to the .active-page and .active-tab */
/* Animation for header text */
#header.active-page .text-content .text {
  animation: fade 2s ease-in;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animation for header downlode link */
#header.active-page .link {
  animation: fadeLink 2s ease-in;
}
@keyframes fadeLink {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animation for skill section progress bar */
#skills.active-page .progress-bar {
  animation: progress_width 1.5s linear;
}
@keyframes progress_width {
  from {
    width: 0;
  }
}
#experience.active-page .H-line .Mline {
  animation: progress_height 2s linear forwards;
}
@keyframes progress_height {
  from {
    height: 0;
    background-color: #b636ff;
  }
  to {
    height: 100%;
    background-color: #b636ff;
  }
}
/* CSS style for width 940px */
@media (max-width: 940px) {
  .nav-bar {
    padding: 0;
    box-shadow: none;
    background: none;
  }
  nav {
    margin-top: 0;
  }
  .logo {
    background-color: white;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    padding-inline: 20px;
    box-shadow: 0px 1px 10px 5px #30303067;
    z-index: 1;
  }
  .logo .menu-icon {
    display: block;
  }
  .logo #menu-button {
    display: block;
    color: #ef54f5;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  .nav-tabs {
    /* background-color: yellow; */
    width: 0;
    margin: 0;
    padding: 0;
  }
  .nav-tabs ul {
    background-color: rgba(255, 255, 255, 0.836);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 45px;
    z-index: 0;
  }
  ul li {
    /* background-color: red; */
    margin-bottom: 10px;
  }
}
